* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: #2A5DB0;
}

ul {
  list-style: none;
}

#article-table {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

#article-table > li {
  width: 100%;
}

#article-table > li:nth-child(odd) {
  background-color: #f4f4f4;
}

#article-header {
  background-color: #ab3c4a;
  box-shadow: inset 0px -20px 80px -10px rgba(61,61,61,1);
  font-weight: 700;
  border-left: 1px solid #151515;
  border-top: 1px solid #151515;
}

.header-item, .body-item {
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.header-item {
  border-color: #151515;
}

.line-item-summary.header-item {
  text-indent: 80px;
  padding: 25px 0px;
}

.article-line-item {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border-left: 1px solid #eaeaea;
}

.article-line-item > {
  padding: 5px;
  height: 100%;
}

.body-item {
  border-color: #eaeaea;
}

.line-item-summary {
  display: flex;
  width: 70%;
  align-items: center;
}

.line-item-title {
  margin: auto;
  padding: 10px;
  flex: 1;
}

.line-item-author {
  width: 15%;
  text-align: center;
  padding: 25px;
}

.line-item-words {
  width: 5%;
  text-align: center;
  padding: 25px;
}

.line-item-submitted {
  width: 10%;
  text-align: center;
  padding: 25px;
}

.clickable:hover {
  cursor: pointer;
  color: white;
}

.line-item-thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.line-item-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.line-item-thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#show-more-button {
  box-shadow: inset 0px -20px 80px -10px rgba(61,61,61,1);
  text-align: center;
  padding: 20px 0px;
  background-color: #ab3c4a;
  opacity: 0.95;
}
